################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieRentApp/MovieRentApp/obj
/.vs
/MovieRentApp/.vs/MovieRentApp
/MovieRentApp/MovieRentApp/bin/Debug/net6.0-windows
/MovieRentApp/.vs/ProjectEvaluation
